.volunteerBackground {
    background-image: url('../../../public/Disaster1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.volunteerBackground::before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    inset: 0;
    z-index: -1;
}

@media (max-width: 767px) {
    .volunteerBackground {
        background-size: contain; 
    }
}